<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create Post</title>
  </head>
  <body>
    <form method="post" action="/posts" >

      <label for ="name">Name: </label><input type = "text" name = "name" id="name"><br>

      <label for ="content">Content: </label> <input type = "textarea" name = "content" id="content"><br>

     <button type = "submit" value = "submit"> submit </button>

    </form>
  </body>
</html>
